<div class="row">
    <div class="col-9">
            <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @friends.each do |friend| %>
                <tr>
                    <th scope="row"><%=friend.full_name %></th>
                    <td><%= friend.email %></td>
                    <td><%= link_to "View profile",user_path(friend),
                    class: "btn btn-sm btn-success" %></td>
                    <td> <%= button_to "Stop following",friendship_path(friend), method: :delete, onclick: "return confirm('Are you sure you want to stop following ?')", 
                        class:"btn btn-outline-danger btn-sm logout-btn" %></td></td>
                    
                </tr>
            <% end %>
           </tbody>
        </table>
    </div>
</div>