<h1>User Details</h1>
<div class="card card-header results-block">
<table class = "col-md-12 table table-bordered table-hover"> 

<table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                 <tr>
                    <td><%= @user.full_name %></td>
                    <td><%= @user.email %></td>
                    <td></td>
                      <% if current_user.not_friends_with?(@user.id) %>  
                    
                   <td> <%= button_to 'Follow friend', friendships_path(friend: @user),class: "btn btn-sm btn-success", method: :post %></td>
                    <% else %>
                   <td> <span class="bagde badge-secondary result-color">You are friends</span></td>
                    <% end %>
                    </td>
                </tr>
            </tbody>
        </table>
</div>
     
 
<% if !@tracked_stocks.empty? %>
<%= render 'stocks/list' %>
<% else %>
<p class = 'lead'> This user is not tracking any stocks </p>
<% end %>




